<!DOCTYPE html>
<html>
  <head>
    <title>Caleb Kivindyo - Web Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id = 'main_navigation' class = 'clearfix' >
    <%= link_to "Caleb Kivindyo", root_path, class: "name"%>
     
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <%= yield %>


<footer id = 'main_footer'>
  <p class="copyright">&copy; 2021 Caleb Kivindyo</p>
  <nav>
    <a href="https://twitter.com/calebkivindyo" target ="_blank" ><i class="bi bi-twitter"></i></a>
    <a href="https://www.linkedin.com/in/caleb-kivindyo/?originalSubdomain=ke" target ="_blank" ><i class="bi bi-linkedin"></i></a>
    <a href="https://github.com/Mutua-Caleb" target= "_blank" ><i class="bi bi-github"></i></a>
  </nav>
</footer>


  </body>
</html>
